# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directorios de dependencias y compilación
/node_modules
/dist             # Carpeta de salida de compilación de Vite y otros
/dist-ssr         # Compilación de Vite para Server-Side Rendering
/build            # Carpeta de compilación genérica (común en Node/Express)

# Variables de Entorno y Configuraciones Locales
.env              # CRÍTICO: No subir claves privadas ni credenciales
.env.*local       # Ignorar archivos locales de entorno (Vite)
*.local           # Archivos de configuración local

# Archivos de caché y temporales
.vite             # Caché del servidor de desarrollo de Vite
.rollup.cache     # Caché de Rollup/Vite
.eslintcache      # Caché de ESLint
.npm

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos de lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de pruebas
/coverage        
